*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	color: var(--text-color);
	// background-color: #28252E;
	background-color: var(--body-color);

	@include phone {
		font-size: 16px;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	// padding: 0 15px;

	@include tablet {
		padding: 0;
	}
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	outline: transparent;
	cursor: pointer;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

svg {
	fill: var(--icon-color);
	// stroke: var(--icon-color);
	width: 18px;
	height: 18px;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin-left: 22%;
	margin-right: auto;
	padding: 0 15px;

	@include lg {
		margin-left: auto;
	}
}

.section {
	padding: 50px 0;

	@include tablet {
		padding: 30px 0;
	}

	@include phone {
		padding: 20px 0;
	}
}

// helpers

.bold {
	font-weight: 700;
}

.accent {
	color: var(--accent);
}

.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px) !important;
	border: 0 !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;
}

/// повторяющиеся

.block {
	background-color: var(--background);
	box-shadow: var(--box-shadow-color) 0px 6px 20px 4px;

	@include phone {
		box-shadow: var(--box-shadow-color) 0px 4px 13px 2px;
	}
}

.title {
	margin: 0 0 20px;
	color: var(--white);
	font-family: "BalooBhai2", sans-serif;
	font-size: 40px;
	line-height: 1.3;
	font-weight: 400;
	text-align: center;

	@include phone {
		margin-bottom: 15px;
		font-size: 26px;
	}
}

.btn {
	position: relative;
	display: block;
	padding: 16px 30px;
	font-weight: 500;
	color: var(--text-color);
	background-color: var(--accent);
	text-transform: uppercase;

	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: transparent;
	transition: color 0.3s, box-shadow 0.3s;

	&:focus,
	&:hover {
		color: var(--additional);

		.btn__svg {
			stroke: var(--additional);
		}
	}

	&:focus {
		box-shadow: 0 0 2px 2px var(--additional);
	}

	&:active {
		box-shadow: inset 0px 0 3px 3px var(--additional);
	}

	&__svg {
		stroke: var(--text-color);
		margin-left: 5px;
		vertical-align: middle;
		transition: stroke 0.3s;
	}

	&--cat {
		&::after,
		&::before {
			content: "";
			position: absolute;
			transition: transform 0.3s, bottom 0.3s;
			background-repeat: no-repeat;
		}

		&::after {
			top: -33px;
			right: 0px;
			left: 0px;
			height: 100%;
			background-size: contain;
			background-image: url(../img/icons/cat-ears.svg);
			background-repeat: no-repeat;

			@include phone {
				top: -30px;
			}
		}
		&::before {
			bottom: 0;
			right: -71px;
			height: 132%;
			width: 80px;
			background-size: contain;
			background-image: url(../img/icons/cat-tail.svg);
		}

		&:focus,
		&:hover {
			&::after {
				transform: scaleY(1.2);
			}
		}

		&:active {
			box-shadow: none;

			&::before {
				bottom: -10px;
				transform: rotate(15deg);
			}
		}
	}
}

//
.text {
	text-align: center;
	margin: 0 auto 30px;

	@include phone {
		margin-bottom: 15px;
	}
}

//
.photo-round {
	display: block;
	max-width: var(--size);
	width: 100%;
	height: var(--size);
	margin: 0 auto 30px;
	object-position: top;
	object-fit: cover;
	border-radius: 50%;
}

.photo-round-border {
	display: block;
	max-width: var(--size);
	width: 100%;
	height: var(--size);
	margin: 0 auto 30px;
	position: relative;
	background: linear-gradient(to right, red, purple);
	border-radius: 50%;
}

.photo-round,
.photo-round-border {
	@include phone {
		margin-bottom: 20px;
	}
}

//
.icon-links {
	display: flex;
	justify-content: center;
	gap: 15px;

	&__item {
	}

	&__link {
		--size: 35px;

		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--size);
		height: var(--size);
		background-color: var(--accent);
		border-radius: 50%;

		&:focus,
		&:hover {
			.icon-links__svg {
				fill: var(--additional);

				&--stroke {
					stroke: var(--additional);
				}
			}
		}

		&:focus {
			box-shadow: 0 0 2px 2px var(--additional);
		}

		&:active {
			box-shadow: inset 0 0 2px 2px var(--additional);
		}
	}

	&__svg {
		fill: var(--text-color);
		transition: fill 1s;

		&--stroke {
			fill: transparent !important;
			stroke: var(--text-color);
			transition: stroke 1s;
		}
	}
}
