//Переменные //
:root {
  --black: #000;
  --white: #fff;
  --body-color: #211e27;
  --background: #242627;
  --accent:#7000FF;
  --text-color: #D8D8D8;
  --icon-color: #767676;
  --additional: #ffa8a8;
  --input-color: #3A3B3C;
  --box-shadow-color: rgba(55, 37, 55, 0.86);
}


// Адаптив ///

@mixin phone {
	@media (max-width: 600px) { @content; }
}

@mixin tablet {
  @media (max-width: 900px) { @content; }
}

@mixin desctop {
  @media (max-width: 1200px) { @content; }
}

@mixin lg {
  @media (max-width: 1440px) { @content; }
}