.contact {

  &__inner {
  }

  &__content {
    justify-content: space-between;
    gap: 30px;

    @include tablet {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__form {
    padding: 25px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 15px 15px;
    color: var(--text-color);
    border: none;
    background-color: var(--input-color);
    outline: transparent;

    &:focus {
      box-shadow: 0 0 8px 6px var(--box-shadow-color);
    }

    &._error {
      box-shadow: 0 0 15px 2px var(--additional);
    }
  }

  &__textarea {
    height: 128px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 25px;

    @include phone {
      flex-direction: column-reverse;
    }
  }

  &__btn {
    max-width: 200px;
    width: 100%;
  }

  &__notification {
    font-size: 16px;
    color: var(--additional);
  }

  &__block {
    padding: 25px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &--bg {
      // background-image: url("../../img/icons/Flag_of_Alberta-tr.svg");
      // background-repeat: no-repeat;
      // background-position-x: 100%;
    }
  }

  &__icon {
    --size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    margin: 0 auto 35px;
    background-color: var(--accent);
    border-radius: 50%;
  }

  &__svg {
    fill: var(--white);
  }

  &__stroke {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__stroke-title {
    font-weight: 500;
  }

  &__stroke-text {
    font-size: 16px;
  }
}