.info {
  position: fixed;
  left: 0;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  padding: 50px 40px;

  &__photo {
    --size: 150px;

    display: block;
    max-width: var(--size);
    width: 100%;
    height: var(--size);
    margin: 0 auto 30px;
    object-position: top;
    object-fit: cover;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 10px;
    color: $white;
    text-align: center;
  }

  &__position {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  &__socials-item {
  }

  &__link {
    --size: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    background-color: $accent;
    border-radius: 50%;

    &:hover {
      .info__link-svg {
        fill: $additional;
      }
    }
  }

  &__link-svg {
    fill: $background;
    transition: fill 0.3s;
  }

  &__block {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;

    &::before, &::after {
      content: "";
      position: absolute;
    }

    &::before {
      bottom: 0;
      right: 0;
      left: 0;
      height: 5px;
      box-shadow: $accent 0 0 0 2px;
      border-radius: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 3px;
      left: 3px;
      height: 1px;
      background-color: $additional;
      border-radius: 10px;
    }
  }

  &__title {
    margin-bottom: 10px;
    color: $white;
  }

  &__list {
    font-size: 16px;

    &--double {
      column-count: 2;
    }
  }

  &__item {
    img {
      width: 15px;
      height: 15px;
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
