.work {

  &__inner {
  }

  &__text {
  }

  &__list {
    padding: 40px 35px;

    @include phone {
      padding: 15px 20px;
    }
  }

  &__item {
    display: flex;

    @include tablet {
      flex-direction: column;
      gap: 15px;
    }

    &:not(:last-child) {
      position: relative;
      margin-bottom: 20px;

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        height: 1px;
        background-color: var(--accent);
      }

      @include tablet {
        margin-bottom: 30px;
      }
    }

  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  &__date {
    padding: 3px 5px;
    font-size: 15px;
    background-color: var(--accent);
    border-radius: 1px;
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
