.work {

  &__inner {
  }

  &__text {
  }

  &__list {
    padding: 40px 35px;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  &__date {
    padding: 3px 5px;
    font-size: 15px;
    background-color: $accent;
    border-radius: 1px;
  }
}
